body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light background */
  color: #333; /* Dark text */
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: #1565c0; /* Dark shade of blue */
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  height: 60px;
  margin-top: 10px;
  padding: 20px 30px;
  
 
}
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8a522d;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #7e7544;
}
.spacer {
  margin-right: 20px; /* Adjust this value as needed */
}



/* End Header */

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #e0e0e0; /* Light gray */
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #333; /* Dark text */
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: #bdbdbd; /* Darker gray on hover */
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #333; /* Dark text */
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

/* End Sidebar */

/* Form */
.form-container {
  grid-area: main;
  padding: 30px;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="file"],
.form-container input[type="url"],
.form-container input[type="date"],
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container textarea {
  resize: vertical; /* Allow vertical resizing */
}

.form-container button[type="submit"] {
  background-color: #1565c0; /* Dark shade of blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button[type="submit"]:hover {
  background-color: #9fb2ce; /* Darker shade of blue on hover */
}

/* Form Ends */